.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #fb857e;
  background: -moz-linear-gradient(
    left,
    #fb857e 10%,
    rgba(251, 133, 126, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #fb857e 10%,
    rgba(251, 133, 126, 0) 42%
  );
  background: -o-linear-gradient(left, #fb857e 10%, rgba(251, 133, 126, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #fb857e 10%,
    rgba(251, 133, 126, 0) 42%
  );
  background: linear-gradient(
    to right,
    #fb857e 10%,
    rgba(251, 133, 126, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #fb857e;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ck-editor__editable_inline {
  min-height: 400px !important;
}

.label-add-product {
  margin-top: 10px;
  margin-bottom: 3px;
}
.accordion-header-text {
  text-transform: capitalize !important;
  font-weight: bold;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-bottom: 1px solid #c3c4c7 !important;
  border-radius: 0px !important;
  display: flex;
  justify-content: space-between !important;
}
.accordion-header-text i {
  font-size: 20px !important;
  font-weight: 100 !important;
}

.accordion-container {
  border: 1px solid #c3c4c7 !important;
  border-radius: 0px !important;
}
.input-container-box {
  margin: 20px 10px;
}
.form-control {
  font-size: 14px !important;
}
.product-data-option {
  padding: 15px 0px;
  padding-left: 30px;
  color: #2271b1;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
  font-size: 13px !important;
  cursor: pointer;
}
.product-data-option:hover {
  color: rgb(55, 55, 55);
  background-color: gainsboro;
}
.product-data-option.selected-option {
  color: rgb(55, 55, 55);
  background-color: gainsboro;
}

.left-side {
  border-right: 1px solid #eee;
  padding: 0px !important;
}
.input-container-box2 {
  margin: 0px !important;
}

.label-font {
  font-size: 12px !important;
}
.white-bg-blue {
  background: #fff;
  border-color: #2271b1;
  color: #2271b1;
  text-decoration: none;
  text-shadow: none;
  border: 1px solid #2271b1;
  border-radius: 5px;
  padding: 5px 10px;
  max-height: 35px;
  margin: auto 0px;
}
.white-bg-red {
  background: #fff;
  border-color: #ff8084;
  color: #ff8084;
  text-decoration: none;
  text-shadow: none;
  border: 1px solid #ff8084;
  border-radius: 5px;
  padding: 5px 10px;
  max-height: 35px;
  margin: auto 0px;
}
.blue-bg-white {
  background: #2271b1;
  border-color: #2271b1;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
}

.ck.ck-editor__editable_inline p {
  color: #262626;
}
.ck.ck-editor__editable_inline {
  padding: 0 30px !important;
  list-style-type: disc !important;
}
.below-searchbar-recommendation {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
}
.below-searchbar-recommendation li {
  padding: 8px;
  cursor: pointer;
  background-color: white;
  min-width: 100%;
}
.below-searchbar-recommendation2 {
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.below-searchbar-recommendation2 li {
  padding: 8px;
  cursor: pointer;
  background-color: white;
  min-width: 100%;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit !important;
}

.ck.ck-content ul {
  padding-left: 40px !important;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal !important;
}
.ck.ck-content ol {
  padding-left: 40px !important;
}
.ck-editor__editable_inline {
  padding: 0 30px !important;
}

.table th,
.table td {
  vertical-align: top !important;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.list-group {
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-numbered {
  list-style-type: none;
  counter-reset: section;
}

.list-group-numbered > .list-group-item::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
}

.list-group-item-action {
  width: 100%;

  text-align: inherit;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  z-index: 1;

  text-decoration: none;
}

.list-group-item {
  position: relative;
  display: block;
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.list-group-item.active {
  z-index: 2;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-horizontal {
  flex-direction: row;
}

.list-group-horizontal > .list-group-item:first-child:not(:last-child) {
  border-top-right-radius: 0;
}

.list-group-horizontal > .list-group-item:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
}

.list-group-horizontal > .list-group-item.active {
  margin-top: 0;
}

.list-group-horizontal > .list-group-item + .list-group-item {
  border-left-width: 0;
}

@media (min-width: 576px) {
  .list-group-horizontal-sm {
    flex-direction: row;
  }

  .list-group-horizontal-sm > .list-group-item:first-child:not(:last-child) {
    border-top-right-radius: 0;
  }

  .list-group-horizontal-sm > .list-group-item:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-sm > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-sm > .list-group-item + .list-group-item {
    border-left-width: 0;
  }
}

@media (min-width: 768px) {
  .list-group-horizontal-md {
    flex-direction: row;
  }

  .list-group-horizontal-md > .list-group-item:first-child:not(:last-child) {
    border-top-right-radius: 0;
  }

  .list-group-horizontal-md > .list-group-item:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-md > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-md > .list-group-item + .list-group-item {
    border-left-width: 0;
  }
}

@media (min-width: 992px) {
  .list-group-horizontal-lg {
    flex-direction: row;
  }

  .list-group-horizontal-lg > .list-group-item:first-child:not(:last-child) {
    border-top-right-radius: 0;
  }

  .list-group-horizontal-lg > .list-group-item:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-lg > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-lg > .list-group-item + .list-group-item {
    border-left-width: 0;
  }
}

@media (min-width: 1150px) {
  .list-group-horizontal-xl {
    flex-direction: row;
  }

  .list-group-horizontal-xl > .list-group-item:first-child:not(:last-child) {
    border-top-right-radius: 0;
  }

  .list-group-horizontal-xl > .list-group-item:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-xl > .list-group-item.active {
    margin-top: 0;
  }
}

@media (min-width: 1400px) {
  .list-group-horizontal-xxl {
    flex-direction: row;
  }

  .list-group-horizontal-xxl > .list-group-item:first-child:not(:last-child) {
    border-top-right-radius: 0;
  }

  .list-group-horizontal-xxl > .list-group-item:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-xxl > .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-xxl > .list-group-item + .list-group-item {
    border-left-width: 0;
  }
}

.list-group-flush {
  border-radius: 0;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
}

.list-group-item:hover {
  background-color: #fff3f6;
}
